*.pyc
settings.py
*.json
*~

002\.xlsx

doc\.txt

doc\.xlsx
/static/brython
/static/brython*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

\.ebextenstions/
