{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="text-center">Goodwill Schedule Manager</h3>
        <br/>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="text-center"><label class="btn btn-default">
                {{ form.template_file }}
            </label>
            </p>
            <div class="input-append">
                <p class="text-center"><button class="btn btn-primary">Make Schedule</button></p>
            </div>
        </form>
        <p class="text-center"><a href=""><i class="glyphicon glyphicon-question-sign"></i></a></p>
    </div>
</div>
{% endblock content %}