<!DOCTYPE html>
<head>
    <script src='site.js'></script>
    <style src='site.css'></style>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<div class='jumbotron text-center'>
    <h1>IR2</h1>
</div>
<div class='col-sm-4'>
    <form action='' id='report' method='post'>
        {% csrf_token %}
        {{ form.as_ul }}
    <center><input  type='submit' class='btn btn-danger'></button></center>
    </form>
    <br>
</div>
<div class='col-sm-8'>

<table id='incident_table' class='table'>
    <tr>
        <td>User</td>
        <td>Device</td>
        <td>Location</td>
        <td>Date</td>
        <td>Time</td>
    </tr>
    {% for r in reports %}
    <tr>
        <td>{{ r.user }}</td>
        <td> {{ r.device }}</td>
        <td> {{ r.location }}</td>
        <td> {{ r.date }}</td>
        <td> {{ r.time }}</td>
    </tr>
    {% endfor %}
</table>
</div>